@media (max-width: 500px) {
  * {
    max-width: 500px;
    font-size: 0.8rem;
  }
  /* PAGE SECTIONS */
  .container {
    display: grid;
    grid-template-rows: 500px 200px 760px 1fr 1180px 2160px 100px;
  }

  /* SMALLER ELEMENTS */
  /* HEADER */
  .main-header {
    height: 500px;
  }

  .banner-img {
    height: 500px;
  }

  .banner {
    left: 5px;
    top: 150px;
  }

  /* NAVBAR */
  .nav {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 0;
  }

  .nav a {
    text-align: start;
    border: none;
    align-items: flex-start;
    place-items: start;
    justify-content: flex-start;
    /* align-content: flex-start; */
  }

  .nav-name {
    display: none;
  }

  /* INFO */
  .info {
    display: flex;
    flex-direction: column;
  }

  /* SKILL */
  .skill {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
  }

  .col-top,
  .col-bott {
    min-height: auto;
    min-width: 500px;
  }

  /* REWARD */
  .reward-grid {
    display: flex;
    flex-direction: column;
  }

  .reward-right {
    border-left: none;
  }

  .reward-left {
    border-bottom: 1px solid #d6c08d;
  }

  /* PROJECT */
  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
